/* RESET */
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html{
    font-family: 'Whitney', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

li, a{
    text-decoration: none;
    list-style-type: none;
    color: white;    
}

section {
    padding: 3rem;
    display: flex;
    }

section .img-box{
    width: 65%;
}

main img{
    width: 80%;
}

section .what-discord-do{
    width: 35%;
    padding: 3rem;
}

.what-discord-do h2{
    font-size: 2.7rem;
    margin-bottom: 2rem;
    line-height: 3rem;
}

.grey{
    background-color: rgb(228, 228, 228);
}

.pointer{   
    cursor: pointer;
}

/* HEADER */

nav .container{
    display: flex;
    justify-content: space-between;
}

header{
    height: 90px;
    background-color: #255EE9;
    padding: 1rem;
}

header .logo{
    padding: 10px;  /* questo padding regola il div contenente logo,menu,button; usando poi align-items:center sulla lista si allinea tutto il div in base all'altezza  */
    width: 11%;
}

header .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    flex-grow: 1;
}

.button{
    width: 11%;
}

header div .login{                 
    align-items: center;
    color: black;
    border: 1pz solid white;
    border-radius: 40px;
    padding: 10px 20px;
    background-color: white;
}

/* MAIN */

/* jumbotron */

.jumbo-box{
    padding: 6.5em 0;
    background-image: url("../img/jumbo.png");
    background-size: cover; 
    background-color: #255EE9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron{
    width: 60%;
    padding: 3em;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 2em;

}

.jumbotron h1{
    font-size: 3em;
    margin-bottom: 1em ;
}

.jumbotron p, .jumbotron a{
    font-size: 1.2em;
    margin-bottom: 1em; 
}

.dowloader{
    display: flex;
    flex-direction: row;
    justify-content: center; }


.downloader, .mac-download {
    width: 15em;
    border-radius: 40px;
    padding: 7px 20px;
    background-color: white;
    color: black;
    margin-right: 1.5em;
}


.downloader, .from-browser {
    width: 15em;
    border-radius: 40px;
    padding: 7px 20px;
    background-color: rgb(48, 47, 47);
    color: white;
    margin-right: 1.5em ;
}

/* last big section */

main .big-one{
    width: 100%;
    flex-direction: column;
}

.big-one > .what-discord-do{
    padding: 0;
    width: 100%;    /* impostata perchè altrimenti prenderebbe la larghezza 35% dei box doppi di classe .what-discord-do*/
    text-align: center;
}

.question{
    background-image: url("../img/stars.svg");
    background-size: cover;
    font-weight: bold;
    margin: 2rem;
    line-height: 3rem;
    width: 45%;
    text-align: center;
    font-size: 1.5rem;
}

.last-big-sec .mac-download{
    background-color: rgb(103, 120, 172);
    color: white;
    font-size: 1.2em;
}

.big-img-box img{   
    width: 100%;
}
                     /* in questo caso per adattare l'immagine nel box al 100% dell capienza dare width 100% oltre all'immagine anche al div */
.big-img-box { 
    width: 100%;
}

/* FOOTER */

/* Main footer */

footer{
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction:column;
}

footer .footer-menu{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

footer .social-link{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.flag{
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

footer h2{
    color: rgb(103, 120, 172);
    font-size: 2.5em;
    padding: 0.4em 0;
}

.ft, .social-link span{
    margin: 1rem 0 ;
}

footer h6{
    color: rgb(103, 120, 172);
    font-size: 1.2em;
    padding: 2em 0 1em;
}

footer ul{
    display: flex;
    flex-direction: column;
    column-gap: 1em;
}

footer li{
    padding: .5em 0;
}

footer .ft{
    width: calc(100% / 6);
    height: 100%;
}

.social-icon{
    display: flex;
    row-gap: 1.5 rem;  /* perche non prende il gap? */
}

/* white line divisor */

footer .for-the-white-line{
    border-top: 3px solid white;
}

/* registration bar */

footer .bottom-banner{
    margin-top: 50px;
    display: flex;
    justify-content: space-between; 
}

footer .sign-in{
    border-radius: 40px;
    padding: 7px 20px;
    background-color: rgb(103, 120, 172);
}


/* decoration wave */


.wave, .wave-rotate{
    /* debug */
    height: 100px;
    background-image: url("../img/wave.svg");
    fill:rgb(228, 228, 228);
}

.wave-rotate{
    transform: scaleY(-1);
}


/* .grey::before{
     content: url("../img/wave.svg");
     width: 100%;
    max-width: 1200px; 
    height: 200px;
    background-color:rgb(228, 228, 228);
    background-image: 
}  

.wave-rotate::after{
    content: url("../img/wave.svg");
    width: 100%;
    transform: rotateX(180deg);
} */
